# Environment Mode (development/production)
NODE_ENV=development

# API configuration (backend)
PROTOCOL=http
HOSTNAME=localhost
PORT=3001

# Client configuration (frontend)
CLIENT_PROTOCOL=http
CLIENT_HOSTNAME=localhost
CLIENT_PORT=3000

# Database Configuration (MySQL)
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=ecommerce

# Email Service (SMTP)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME="Nazwa Twojego Sklepu"
SMTP_FROM_EMAIL=no-reply@example.com

#Tpay
TPAY_CLIENT_ID=
TPAY_SECRET=
TPAY_SECURITY=

# Store
STORE_NAME="Mój sklep"
STORE_LOGO_URL=https://i.imgur.com/Jj1id4B.jpeg