# Environment Mode (development/production)
NODE_ENV=development

# Adress configuration
BACKEND_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000

# Server (backend) Port
PORT=3001

# Database Configuration (MySQL)
DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_PORT=3306

# Email Service (SMTP)
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your_email_user
EMAIL_PASS=your_email_password
EMAIL_FROM_NAME="Your Store Name"
EMAIL_FROM_ADDRESS=noreply@example.com

# Tpay API Credentials
TPAY_CLIENT_ID=your_tpay_client_id
TPAY_SECRET=your_tpay_secret

# Tpay Redirects (Appended to FRONTEND_URL)
# Example: http://localhost:3000/success
TPAY_SUCCESS_URL=/success
TPAY_ERROR_URL=/error