# Zależności
node_modules/

# Build
dist/

# Prisma
src/database/generated/

# DB
*.db
*.db-journal
*.sqlite
*.sqlite-journal

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE
.vscode/
.idea/
*.suo
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Misc
.tsbuildinfo